.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.outer-container {
  display: flex;
}

.container-1,  container-2 {
  display: flex;
}

.container-1 {
  flex: 3
}
.container-2 {
  flex: 1
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 1;
}

.box-3 {
  flex: 1;
}

.pointsBalance {
  width: 300px;
  border: 15px solid green;
  padding: 20px;
  margin: 20px;
}

.checkout {
  width: 300px;
  border: 15px solid purple;
  padding: 20px;
  margin: 20px;
}

.header {
  padding: 20px;
  margin: 20px;
}


